* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notes-app{
    display: grid;
    height: 100vh;
    grid-template-columns: 65px 1fr;
}